p.name {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 10vh;
    position: relative;
    color: white;
    top: 11vh;
    letter-spacing: 10px;
}


p.description {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 4vh;
    position: relative;
    color: white;
    top: 2vh;
    opacity: 0.6;
}

nav{
    position: relative;
    top: 8vh;
}

.ulsocial{
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    text-align: center;
}

.social {
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
}

.fab {
    color: white;
    opacity: 0.5;
    font-size: xxx-large;
    text-align: center;
}

.fab:hover {
    opacity: 1;
}

body {
    /* background-image: url('background.jpg'); */
    background-color: aquamarine;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@media (max-width: 480px) {
    p.name {
        font-size: 7vh;
    }
    p.description{
        font-size:3vh;
        top: 4vh;
    }
}
